$beaver: rgb(158, 127, 102);
$codGray: rgb(17, 17, 17);
$mirage: rgb(23, 25, 43);
$ebonyClay: rgb(36, 43, 55);
$shuttleGray: rgb(92, 103, 121);
$white: rgba(255, 255, 255, 1); 
$active: rgba(76, 76, 76, 1);
$inactive: rgba(165, 165, 165, 1);